.aboutUs {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  overflow: auto;
}

.aboutUs .aboutUsTitle {
  font-size: 30px;
  height: 10%;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.aboutUsContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90%;
}

.aboutUs .aboutUsMember {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.aboutUs .aboutUsMember:first-of-type {
  border-right: 1px solid rgb(255, 255, 255);
}

.aboutUs .coverImg {
  display: block;
  max-width: 50%;
  height: auto;
  padding-left: 10px;
  box-shadow: 3px 3px 10px #000000b2;
  object-fit: cover;
}

.aboutUs .imageIconDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aboutUs .generalInformation {
  text-align: center;
  margin: auto;
  padding: 10px;
}

.aboutUs .aboutMeText {
  margin: 10px;
}

.aboutUs .aboutUsSubHeader {
  border-top: 1px solid rgba(167, 167, 167, 0.548);
  border-bottom: 1px solid rgba(167, 167, 167, 0.548);
  padding: 7px;
  width: 70%;
  margin: 10px auto;
  font-size: 18px;
  font-weight: 500;
}

.aboutUs .aboutMeData {
  text-align: justify;
  padding: 10px 15px;
}
.aboutUs .aboutMeData1 {
  text-align: justify;
  padding: 10px 15px;
}

.aboutUs .aboutUsIcons {
  margin-bottom: 20px;
}
.aboutUs .aboutUsIcons a {
  margin: 0 10px;
}

.aboutUs .name {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
}

.aboutUs .aboutMeLink {
  cursor: pointer;
}
