.container {
  box-sizing: content-box;
  text-align: left;
  height: 40vh;
  border: 0.5px solid black;
  margin-top: 10px;
  background-color: snow;
}
.image {
  background-image: url("./Aboutusbackgr.png");
}
