.forecast-container {
  box-sizing: content-box;
  text-align: left;
  height: 20vh;
  border: 0.5px solid black;
  margin: 20px;
  background-color: snow;
}
.search {
  margin-top: 10px;
  width: 30vw;
}
