.forecastPage {
  overflow-y: scroll;
  height: 100%;
}

.forecast-container {
  box-sizing: content-box;
  text-align: left;
  border: 0.5px solid black;
  margin: 20px;
  background-color: snow;
}

.forecastPage .minmaxTempForecast {
  box-sizing: border-box;
  margin: 20px 40px 50px 40px;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search {
  margin-top: 10px;
  width: 30vw;
}


.forecastPage .degreeUnits {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.forecastPage .degreeUnit {
  padding: 0 10px;
  cursor: pointer;
  font-size: 24px;
}

.forecastPage .degreeUnit:hover {
  color: aqua;
}

.forecastPage .degreeUnit:first-of-type {
  border-right: 1px solid white;
}

.forecastPage .graphLabel {
  font-size: 18px;
  font-weight: 700;
}