.Home {
	color: white;
}

.Home p {
	margin: 0;
	padding: 0;
}
.Home .searchIcon {
	position: relative;
	margin-left: 10px;
	font-size: 30px;
	color: white;
	padding-right: 5px;
	cursor: pointer;
}

.Home .searchIcon:hover {
	color: aqua;
}

.Home .widthAdjustment {
	width: 90%;
}

.Home .searchBar {
	background-color: rgba(255, 255, 255, 0.251);
	border-radius: 20px;
	display: flex;
	align-items: center;
	width: 70%;
	justify-content: center;
	margin: 10px auto;
	height: 40px;
}

.Home .searchInput {
	border-radius: 30px;
	border: none;
	width: 100%;
	height: 30px;
	align-items: center;
	padding-left: 10px;
	background-color: transparent;
	color: white;
	font-size: 18px;
}

.Home .searchInput::placeholder {
	color: rgba(255, 255, 255, 0.811);

}

.Home .searchInput:focus {
	outline: none;
}

.Home .widthAdjustmentDropdown {
	width: 100%;
	margin-top: 15px !important;
	margin-left: 18px !important;
}

.Home .dropdown-item {
	cursor: pointer;
}

.Home .degreeUnits {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.Home .degreeUnit {
	padding: 0 10px;
	cursor: pointer;
	font-size: 24px;
}

.Home .degreeUnit {
	padding: 0 10px;
	cursor: pointer;
}

.Home .degreeUnit:hover {
	color:aqua;
}

.Home .degreeUnit:first-of-type {
	border-right: 1px solid white;
}

.Home .localDateTime {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-right: 17px;
    margin: 15px;
}

.Home .datetimeLocal {
	padding: 0 10px;
}

.Home .datetimeLocal:first-of-type {
	border-right: 1px solid white;
}